*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
}

.container {
  width: 550px;
  height: 550px;
  border: 2px solid red;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: 1px solid black;
}
