*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
}

.container {
  max-width: 60svw;
  border: 2px solid red;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
}

.square {
  flex-basis: 6.25%;
  aspect-ratio: 1/1;
  border: 1px solid black;
}

.square:hover {
  background-color: black;
}
